@charset "UTF-8";
@import "./var";

.app {

}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-both {
  clear: both;
}

.dis-none {
  display: none;
}

.dis-none-imp {
  display: none !important;
}

.dis-block {
  display: block;
}

.dis-block-imp {
  display: block !important;
}

.dis-inline {
  display: inline;
}

.dis-inline-imp {
  display: inline !important;
}

.dis-ib {
  display: inline-block;
}

.dis-ib-imp {
  display: inline-block !important;
}

.dis-table {
  display: table;
}

.dis-cell {
  display: table-cell;
}

.dis-flex {
  display: flex;
}

.pseudo-clear:after {
  clear: both;
  display: block;
  content: '';
}

.pseudo-clear:before {
  clear: both;
  display: block;
  content: '';
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.pos-rl {
  position: relative;
}

.pos-ab {
  position: absolute;
}

.underline {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.align-left-imp {
  text-align: left !important;
}

.val-middle {
  vertical-align: middle;
}

.val-top {
  vertical-align: top;
}

.pointer {
  cursor: pointer;
}

.lh100per {
  line-height: 100%;
}

.all-border-box * {
  box-sizing: border-box;
}

.confirm-btn-mg {
  margin-right: 14px;
}

.align-middle-imp {
  vertical-align: middle !important;
}

.text-right-imp {
  text-align: right !important;
}

.text-left-imp {
  text-align: left !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cm-a {
  color: #6d6dfe;
}

/*margin*/
.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt20 {
  margin-top: 20px;
}

.mt23 {
  margin-top: 23px;
}

.mt27 {
  margin-top: 27px;
}

.mt30 {
  margin-top: 30px;
}

.mt82 {
  margin-top: 82px;
}

.mr28 {
  margin-right: 28px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb22 {
  margin-bottom: 22px;
}

.ml10 {
  margin-left: 10px;
}

.ml28 {
  margin-left: 28px;
}

/*margin end*/

/*width*/
.w50per {
  width: 50%;
}

/*width end*/

/*padding*/
.pr19 {
  padding-right: 19px;
}

.pr28 {
  padding-right: 28px;
}

.pb18 {
  padding-bottom: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl28 {
  padding-left: 28px;
}

.pl52 {
  padding-left: 52px;
}

/*padding end*/

/*height*/

.h100per {
  height: 100%;
}

/*height end*/

/*公共*/
.app-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  .van-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.main-box {
  padding-left: 15px;
  padding-right: 15px;
}

.app-container {
  min-height: 100vh;
}

.cm-btn {
  width: 100%;
  height: 43px;
  background: #656476;
  box-shadow: 0 10px 10px 0 rgba(101, 100, 118, 0.3);
  border-radius: 22px;
  color: #fff;
  font-size: 17px;

  &.active {
    background: #59C1B6;
    box-shadow: 0 5px 5px 0 rgba(89, 193, 182, 0.3);
  }
}

.cm-btn-primary {
  width: 100%;
  color: $login-green;
  font-size: 14px;
  height: 30px;
  border: 1px solid $login-green;
  border-radius: 15px;
  background: transparent;
}

.img100per {
  width: 100%;
  height: 100%;
}

.divider {
  height: 1px;
  width: 100%;
  margin: 13px 0;
  background: rgba(101, 100, 118, 1);
  position: relative;

  &-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(28, 28, 33, 1);
    padding: 0 23px;
    font-size: 10px;
    font-family: Adobe Heiti Std R;
    font-weight: normal;
    color: rgba(101, 100, 118, 1);
  }
}


.w-vee-error {
  color: #FF6B6B;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/*公共 end*/

/*fix*/

.app-container {
  background: $theme-color;

  .van-nav-bar {
    height: 44px;
    line-height: 44px;
    background: $theme-color;

    &:after {
      border-bottom: 0;
    }
  }

  .van-nav-bar__left,
  .van-nav-bar__right {
    font-size: 14px;
  }

  .van-nav-bar__text {
    color: #f5f5f5;
  }

  .van-nav-bar__title {
    font-size: 17px;
    color: #fff;
  }

  .van-cell {
    background: $theme-color;
    height: 44px;
    // line-height: 88px;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }

  .van-cell__title {
    color: #fff;
  }

  .van-field__control {
    color: #fff;
  }

  .van-cell:after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ebedf0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }

  .van-nav-bar__arrow {
    font-size: 22px;
    color: #fff;
  }

  .md-scroll-view-refresh {
    padding: 12px;

    .stroke {
      stroke: $login-green;
    }

    .refresh-tip {
      font-size: 12px;
    }

    .md-activity-indicator-rolling {
      .md-activity-indicator-svg {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }
  .md-scroll-view-more{
    font-size: 12px;
    padding: 12px;
  }
}


/*fix end*/

/*动画*/

.bottomToUp-enter {
  bottom: 0;
}

.bottomToUp-leave-to {
  bottom: -100%;
}

.bottomToUp-enter-active {
  animation: model-bottomToUp .3s;
}

.bottomToUp-leave-active {
  animation: model-bottomToUp .3s reverse;
}

@keyframes model-bottomToUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

/*动画 end*/

/*登录页*/

.login-body {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 36px;

  .van-cell {
    margin-top: 34px;

    &:first-child {
      margin-top: 0;
    }
  }
}
.login-phone-pre-par{
  .van-field__label{
    width: 60px;
    position: relative;
    margin-right: 15px;
    &:after{
      display: block;
      content: '';
      position: absolute;
      background:#474E66;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 20px;
    }
  }
}

.login-phone-pre{
  display: flex;
  align-items: center;
  .iconfont{
    margin-left: 9px;
    font-size: 8px;
  }
}

.login-body-title {
  font-size: 24px;
  color: $login-green;
}

.login-body-group {
  margin-top: 78px;
  padding-left: 15px;
  padding-right: 15px;
}

.login-body-forget {
  font-size: 10px;
  color: #C0C3CC;
}

.login-body-forget-par {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  text-align: right;
}

.login-body-btns {
  margin-top: 86px;
}

.login-body-btns-register {
  margin-top: 19px;
  text-align: center;
  font-size: 12px;
  color: #C0C3CC;
}

.login-body-btns-register-link {
  color: $login-green;
}

.login-body-password-error {
  color: #FF6B6B;
  font-size: 12px;
}

/*登录页 end*/

/*忘记密码*/

.forgetPassword-img-par {
  padding-top: percentage(177/1624);
  text-align: center;

  img {
    width: 93px;
    height: 98px;
  }
}

.forgetPassword-name {
  margin-top: 19px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.forgetPassword-tel {
  margin-top: 56px;
  color: #C0C3CC;
  font-size: 16px;
  text-align: center;

  .link {
    color: $login-green;
  }
}

/*忘记密码 end*/

/*注册*/

.register-invitationCode-tips {
  margin-top: 7px;
  font-size: 10px;
  color: #474E66;
}

.register-protocol {
  margin-top: 15px;
  color: $login-green;
  font-size: 12px;
  padding-left: 5px;
}

.register-protocol-model-title {
  color: #555566;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
  line-height: 1;
}

.register-protocol-cnt {
  margin-top: 33px;
}

.register-protocol-item {
  text-indent: 2em;
  color: #555566;
  font-size: 15px;
}

.register-body-btns {
  margin-top: 14px;
}

.register-iconfont-eye {
  font-size: 15px;
  color: #474E66;
}

/*注册 end*/

/*我的*/

.user-main {
  padding-left: 15px;
  padding-right: 15px;
}

.user-head-par {
  width: 100%;
  height: 190px;
  padding-top: 88px;
  background: url('~@/assets/img/user/user-head-bg@2x.png') no-repeat;
  background-size: 100% 100%;
}

.user-head {
  display: flex;
  align-items: center;
  height: 60px;

  .portrait {
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  .right {
    margin-left: auto;
    padding-right: 15px;

    .van-icon {
      font-size: 20px;
    }
  }
}

.user-head-cnt {
  margin-left: 21px;
}

.user-head-cnt-name {
  line-height: 1;
  font-size: 15px;
  color: #fff;
}

.user-head-cnt-lvl {
  margin-top: 11px;
  width: 19px;
  height: 14px;
}


.user-ad {
  margin-top: -20px;
}

.user-team {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 15px;

  & > .portrait {
    width: 32px;
    height: 30px;
  }

  & > .cnt {
    color: #838299;
    font-size: 13px;
    margin-left: 11px;
  }

  & > .right {
    margin-left: auto;
    color: $login-green;
    font-size: 10px;
  }
}

.user-invite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding-right: 15px;
  background: url('~@/assets/img/user/user-invite-bg.png') no-repeat;
  background-size: 100% 100%;
  font-size: 13px;
  color: #fff;

  img {
    margin-left: 20px;
    width: 13px;
    height: 13px;
  }
}

.user-fn-par {
  margin-top: 20px;
}

.user-cell-par {
  .van-cell__title {
    display: flex;
    align-items: center;
    color: #fff;
  }

  .van-cell {
    height: 60px;
    padding: 0 15px;
    align-items: center;

    &:after {
      border-bottom: 1px solid #1C1C21;
    }
  }
}

.user-cell-list {
  margin-bottom: 9px;
}

.user-cell-item-icon {
  width: 25px;
  height: 25px;
  margin-right: 21px;
}

.user-cell-item-msg-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #FF3419;
  color: #fff;
  border-radius: 100%;
  font-size: 13px;
}

/*我的*/

/*个人设置*/

.userSetting-item {

}

.userSetting-portrait {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.userSetting-wItem-item {
  &.wItem-item {
    height: 85px;
  }
}

.userSetting-btn-par {
  position: absolute;
  bottom: 70px;
  width: 100%;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

/*个人设置 end*/

/*更换账号*/

.updatePhone-tips {
  padding: 18px 28px;
  color: #838299;
  font-size: 13px;
}

.updatePhone-btns {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 60px;
}

.updatePhone {
  .van-cell {
    line-height: 40px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;

    &:after {
      border-bottom: 1px solid #1C1C21;
    }
  }

  .w-vee-error {
    padding-left: 30px;
  }
}

/*更换账号 end*/

/*系统公告*/

.sysAnnouncement-img-par {
  width: 225px;
  height: 225px;
  margin-top: percentage(60/375);
  margin-left: auto;
  margin-right: auto;
}

.sysAnnouncement-nomsg-tips {
  text-align: center;
  font-size: 16px;
  color: #C0C3CC;
}

.sysAnnouncement-list {
  .van-swipe-cell {
  }
}

.sysAnnouncement-item-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;

  & > .portrait {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    .dot {
      position: absolute;
      top: -2px;
      right: -2.6px;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: #FF3419;
    }
  }

  & > .right {
    flex-shrink: 0;
    width: 54px;
    text-align: right;
    font-size: 10px;
    color: #838299;
  }

  .time {
    &:first-child {
      margin-top: 0;
    }

    margin-top: 4px;
  }


}

.sysAnnouncement-list-item {
  background: #222229;

  .van-button {
    height: 60px;
  }
}

.sysAnnouncement-item-cnt-cnt {
  flex-grow: 1;
  margin-left: 20px;
  overflow: hidden;
}

.sysAnnouncement-item-cnt-cnt-title {
  width: 100%;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.sysAnnouncement-item-cnt-cnt-inf {
  width: 100%;
  margin-top: 10px;
  line-height: 1;
  font-size: 13px;
  color: #838299;
}

/*系统公告 end*/

/*我的团队*/

.myTeam-tree-par {
  border-top: 10px solid #1C1C21;
  padding: 30px 50px;
  padding-top: 0;
}

/*我的团队 end*/

/*公告详情*/

.sysAnnouncementDetail {
  padding: 20px 15px;
  border-top: 10px solid #1C1C21;
}

.sysAnnouncementDetail-title {
  font-size: 17px;
  line-height: 22px;
  color: #fff;
}

.sysAnnouncementDetail-time {
  margin-top: 14px;
  font-size: 10px;
  line-height: 1;
  color: #838299;
}

.sysAnnouncementDetail-wrap {
  background: #222229;
}

.sysAnnouncementDetail-content {
  margin-top: 24px;
  text-indent: 2em;
  color: #838299;
  font-size: 13px;
  line-height: 21px;
}

/*公告详情 end*/

/*我的收益*/

.myIncome-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 1px;
  background: #222229;
}

.myIncome-item-left {
  line-height: 1;

  & > .name {
    color: #fff;
    font-size: 16px;
  }

  & > .type {
    color: #838299;
    font-size: 13px;
  }
}

.myIncome-item-right {
  line-height: 1;
  text-align: right;

  & > .time {
    color: #838299;
    font-size: 10px;
  }

  & > .income {
    color: $login-green;
    font-size: 18px;

    &.positive {
      color: #FF6B6B;
    }
  }
}

/*我的收益 end*/


/*问题反馈*/

.feedback-form {
  padding: 10px 15px;

  .van-cell {
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;

    &:after {
      display: none;
    }
  }
}

.feedback-btns-par {
  margin-top: 28px;
  text-align: right;
}

.feedback-submit-btn {
  width: 60px;
  height: 25px;
  background: #59C1B6;
  border-radius: 5px;
  margin-left: auto;
  font-size: 17px;
}

/*问题反馈 end*/

/*反馈成功*/

.feedbackSuc-btns-par {
  margin-top: 66px;
  text-align: center;

  .cm-btn-primary {
    width: 130px;
  }
}

/*反馈成功 end*/

/*关于我们*/

.aboutUs-title {
  text-align: center;
  font-size: 17px;
  color: #fff;
  margin-bottom: 36px;
}

.aboutUs-content {
  margin-top: 20px;
  font-size: 13px;
  color: #838299;
  line-height: 21px;
}

.aboutUs-subtitle {
  margin-bottom: 25px;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}

.aboutUs-detail {
  padding: 20px 22px;
}

/*关于我们*/


/*私钥管理*/

.privateKeyManagement-list {

}

/*私钥管理 end*/

/*私钥导入*/

.privateKeyImport-cnt {
  padding: 15px;

  .wItem-item {
    background: linear-gradient(to right, #33333F, #444956);
    height: 70px;
    border-radius: 10px;
    margin-bottom: 8px;
  }
}

.privateKeyImport-cnt-head {
  color: #838299;
  font-size: 13px;
  line-height: 1;
  margin-top: 4px;
  margin-bottom: 30px;
  padding-left: 13px;
}

.privateKeyImport-left-item {

}

.privateKeyImport-item-typeImg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.privateKeyImport-item-name {
  font-size: 15px;
  color: #fff;
  margin-left: 18px;
}

/*私钥导入 end*/

/*私钥导入表单*/

.privateKeyImport-form {
  .HTextarea {
    height: 100px;
    border-radius: 10px;
  }
}

.privateKeyImport-tips {
  color: #FF6B6B;
  font-size: 10px;
  line-height: 10px;
  margin-top: 10px;

  .iconfont {
    font-size: 10px;
    margin-right: 4px;
  }
}

.privateKeyImport-btns {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 106px;
}

.privateKeyImport-form-ta-par {
  position: relative;
}

.privateKeyImport-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 210px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #656476;
  color: #fff;
  font-size: 14px;
}

/*私钥导入表单 end*/


/*冷钱包加载*/

.coldWalletLoad-head {
  color: #fff;
  font-size: 14px;
  margin-top: 66px;
  margin-bottom: 29px;
  text-align: center;
}

.coldWalletLoad-ta-par {
  .HTextarea-ta {
    height: 100%;
    padding-top: 26px;
  }
}

.coldWalletLoad-btns {
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

/*冷钱包加载 end*/

/*助记词设置*/

.mnemonicList-backup-status {
  color: #838299;
  font-size: 13px;
  text-align: right;

  &.active {
    color: $login-green;
  }
}

.mnemonicList-cnt {
  .wItem-item-right {
    .iconfont {
      margin-left: 13px;
    }
  }
}

.mnemonicSetting-head {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1;

  .name {
    color: #fff;
    font-size: 20px;
  }

  .info {
    margin-top: 13px;
    color: #828298;
    font-size: 12px;
  }
}

.mnemonicSetting-cnt {

}

.mnemonicSetting-word-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.mnemonicSetting-word-item {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background: #828298;
  color: #F5F5F5;
  text-align: center;
  margin-right: 32px;
  margin-bottom: 15px;
  font-size: 15px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.mnemonicSetting-word-list {
  padding-left: 35px;
  padding-right: 35px;
}

.mnemonicSetting-word-change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #F5F5F5;
  font-size: 15px;

  .iconfont {
    color: $login-green;
    font-size: 15px;
    margin-right: 10px;
  }
}

.mnemonicSetting-btns {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 88px;
}

.mnemonicSettingBackup-btm-tips {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #828298;
}

/*助记词设置 end*/

/*发现*/

.found-main {

}

.found-head-par {
  width: 100%;
  height: 150px;
  padding-top: 75px;
  background: url('~@/assets/img/found/found-head-bg@2x.png') no-repeat;
  background-size: 100% 100%;
}

.found-head-icons {
  padding-left: 20px;
  padding-right: 20px;
}

.found-head-icons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.found-head-icons-img {
  width: 30px;
  height: 30px;
  margin-bottom: 12px;
}

.found-head-icons-inf {
  font-size: 11px;
  color: #fff;
}

.found-head-icons-item {
  text-align: center;
}

.found-ad-bg-list {
  padding-left: 15px;
  padding-right: 15px;
}

.found-ad-bg-item {
  margin-bottom: 8px;
}

.found-ad-bg-item-img {
  width: 100%;
  height: 70px;
}

.found-ranking {
  margin-top: 25px;
}

.found-ranking-head {
  font-size: 17px;
  line-height: 1;
  color: $login-green;
  padding-left: 15px;
}

.found-ranking-tab-par {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $cnt-bg;
  background: #222229;

  .van-tabs {
    background: #222229;
  }

  .van-tab {
    border-bottom: 1px solid #838299;
    padding-left: 20px;
  }

  .van-tabs__nav {
    background: #222229;
  }

  .van-hairline--top-bottom {
    &:after {
      border-width: 0;
    }
  }


  .van-tabs__line {
    background: $login-green;
    height: 1px;
    top: 39px;
  }

  .van-tabs--line {
    .van-tabs__wrap {
      height: 40px;
    }
  }

}

.found-ranking-tab-title {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: 14px;

  .iconfont {
    font-size: 20px;
    margin-right: 8px;
  }
}

.found-ranking-tab {
  width: 110px;
  height: 40px;
  padding-left: 18px;
  position: relative;

  &.active {
    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -1px;
      display: block;
      background: $login-green;
      height: 1px;
      width: 100%;
    }
  }
}

.found-ranking-income-list {
  padding: 15px 20px;
}

.found-ranking-income-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid #222229;
}

.found-ranking-income-item-left {
  color: #fff;
  font-size: 15px;

  & > img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
}

.found-ranking-income-item-right {
  flex-shrink: 0;
  color: #838299;
  font-size: 15px;
  text-align: right;
}

.found-swipe-img {
  width: 100%;
  height: 150px;
}

/*发现 end*/

/*交易所*/

.exchange-swipe-img {
  width: 100%;
  height: 175px;
}

.exchange-swipe {
  .van-swipe__indicator {
    background: #59C1B6;
  }

  .van-swipe__indicator--active {
    width: 10px;
    border-radius: 3px;
  }
}

.exchange-swipe-par {
  position: relative;
}

.exchange-swipe-tip {
  position: absolute;
  bottom: 5px;
  right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background: rgba(255, 255, 255, .4);
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
}

.exchange-apps {
  padding: 15px;
}

.exchange-apps-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.exchange-apps-head-title {
  color: #59C1B6;
  font-size: 17px;
}

.exchange-apps-head-opt {
  color: #fff;
  font-size: 12px;
}

.exchange-apps-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.exchange-apps-item-img {
  width: 270px;
  height: 70px;
}

.exchange-apps-item-btn {
  width: 55px;
  height: 25px;
  background: $login-green;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

.appDown-qrcode {
  border-radius: 10px;
  text-align: center;
  margin-top: 60px;
}

.appDown-qrcode-img {
  width: 120px;
  height: 120px;
}

.appDown-qrcode-inf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #fff;
  font-size: 13px;

  img {
    width: 16px;
    height: 16px;
  }
}

.appDown-btns-par {
  margin-top: 96px;
  padding-left: 108px;
  padding-right: 108px;
}

/*交易所 end*/

/*敬请期待*/

.except-img-par {
  width: 335px;
  height: 345px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6400/812 + vh;
}

/*敬请期待 end*/
