@charset "UTF-8";
@import "./var";

.app {

}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-both {
  clear: both;
}

.dis-none {
  display: none;
}

.dis-none-imp {
  display: none !important;
}

.dis-block {
  display: block;
}

.dis-block-imp {
  display: block !important;
}

.dis-inline {
  display: inline;
}

.dis-inline-imp {
  display: inline !important;
}

.dis-ib {
  display: inline-block;
}

.dis-ib-imp {
  display: inline-block !important;
}

.dis-table {
  display: table;
}

.dis-cell {
  display: table-cell;
}

.dis-flex {
  display: flex;
}

.pseudo-clear:after {
  clear: both;
  display: block;
  content: '';
}

.pseudo-clear:before {
  clear: both;
  display: block;
  content: '';
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.pos-rl {
  position: relative;
}

.pos-ab {
  position: absolute;
}

.underline {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.align-left-imp {
  text-align: left !important;
}

.val-middle {
  vertical-align: middle;
}

.val-top {
  vertical-align: top;
}

.pointer {
  cursor: pointer;
}

.lh100per {
  line-height: 100%;
}

.all-border-box * {
  box-sizing: border-box;
}

.confirm-btn-mg {
  margin-right: 14px;
}

.align-middle-imp {
  vertical-align: middle !important;
}

.text-right-imp {
  text-align: right !important;
}

.text-left-imp {
  text-align: left !important;
}

.cm-a {
  color: #6d6dfe;
}

/*margin*/
.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.mt9 {
  margin-top: 9px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt23 {
  margin-top: 23px;
}

.mt27 {
  margin-top: 27px;
}

.mr28 {
  margin-right: 28px;
}

.mb22 {
  margin-bottom: 22px;
}

.ml10 {
  margin-left: 10px;
}

.ml28 {
  margin-left: 28px;
}

/*margin end*/

/*width*/
.w50per {
  width: 50%;
}

/*width end*/

/*padding*/
.pr19 {
  padding-right: 19px;
}

.pr28 {
  padding-right: 28px;
}

.pb18 {
  padding-bottom: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl28 {
  padding-left: 28px;
}

.pl52 {
  padding-left: 52px;
}

/*padding end*/

/*公共*/

.app-container {
  min-height: 100vh;
  padding-bottom: 40px;
}

.cm-btn {
  width: 100%;
  height: 86px;
  background: #656476;
  box-shadow: 0 10px 10px 0 rgba(101, 100, 118, 0.3);
  border-radius: 43px;
  color: #fff;

  &.active {
    background: #59C1B6;
    box-shadow: 0 10px 10px 0 rgba(89, 193, 182, 0.3);
  }
}

/*公共 end*/

/*fix*/

.app-container {
  background: $theme-color;

  .van-nav-bar {
    height: 88px;
    line-height: 88px;
    background: $theme-color;

    &:after {
      border-bottom: 0;
    }
  }

  .van-nav-bar__left,
  .van-nav-bar__right {
    font-size: 28px;
  }

  .van-nav-bar__text {
    color: #f5f5f5;
  }

  .van-cell {
    background: $theme-color;
    height: 88px;
    // line-height: 88px;
    font-size: 28px;
    padding-left: 0;
    padding-right: 0;
  }

  .van-field__control {
    color: #fff;
  }

  .van-cell:after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ebedf0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }

  .van-nav-bar__arrow {
    font-size: 44px;
    color: #fff;
  }
}

/*fix end*/

/*登录页*/

.login-body {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;

  .van-cell {
    margin-top: 68px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.login-body-title {
  font-size: 48px;
  color: $login-green;
}

.login-body-group {
  margin-top: 156px;
  padding-left: 30px;
  padding-right: 30px;
}

.login-body-forget {
  font-size: 20px;
  color: #C0C3CC;
}

.login-body-forget-par {
  margin-top: 29px;
  text-align: right;
}

.login-body-btns {
  margin-top: 172px;
}

.login-body-btns-register {
  margin-top: 58px;
  text-align: center;
  font-size: 24px;
  color: #C0C3CC;
}

.login-body-btns-register-link {
  color: $login-green;
}

/*登录页 end*/

/*忘记密码*/

.forgetPassword-img-par {
  padding-top: percentage(177/1624);
  text-align: center;

  img {
    width: 186px;
    height: 196px;
  }
}

.forgetPassword-name {
  margin-top: 38px;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.forgetPassword-tel {
  margin-top: 112px;
  color: #C0C3CC;
  font-size: 32px;
  text-align: center;
}

/*忘记密码 end*/

/*注册*/

.register-invitationCode-tips {
  margin-top: 14px;
  font-size: 20px;
  color: #474E66;
}

.register-protocol {
  margin-top: 29px;
  color: $login-green;
  font-size: 24px;
  padding-left: 10px;
}

/*注册 end*/
